
@{
    ViewData["Title"] = "textCheck";
}

<h1>textCheck</h1>
<div class="container">
    <div class="form-group">
        <labe>圖片網址</labe>
        <input id="textContent" type="text" class="form-control" value="Is this a crap email abcdef@abcd.com, phone: 6657789887, IP: 255.255.255.255, 1 Microsoft Way, Redmond, WA 98052" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" onclick="analzye()">文字審核</button>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function analzye() {
            var params = {
                // Request parameters
                "autocorrect": true,
                "PII": true,

                "classify": true,
                "language": "eng",
            };

            $.ajax({
                url: "https://mist150team04contentmoderator04.cognitiveservices.azure.com/contentmoderator/moderate/v1.0/ProcessText/Screen?" + $.param(params),
                beforeSend: function (xhrObj) {
                    // Request headers
                    xhrObj.setRequestHeader("Content-Type", "text/plain");
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "23b852382dbd4698a4167b5c250db4d1");
                },
                type: "POST",
                // Request body
                data:$("#textContent")
            })
                .done(function (data) {
                 alert(JSON.stringify(data));
                    const category1 = data['Classification']['Category1']['Score'];
                    const category2 = data['Classification']['Category2']['Score'];
                    const category3 = data['Classification']['Category3']['Score'];
                    alert(`成人內容指數: ${(category1).toFixed(2)} 冒犯內容指數: - ${(category1).toFixed(2)} - 色情內容指數: ${(category1).toFixed(2)}`)
                // })
                // .fail(function () {
                //     alert("error");
                });
        };
    </script>
}
